@value colors: "@CSSVars/colors.css";
@value SECONDARY_LIGHTEST_COLOR ,SECONDARY_DARK_COLOR from colors;

.svgWrapper {
	display: inline;
}

/*.tooltip {
  background-color: SECONDARY_NORMAL_COLOR!important;
  border-color: white!important;
  color: white!important;

    .place-top {
      &:after {
        border-top-color: SECONDARY_NORMAL_COLOR!important;
        border-top-style: solid !important;
        border-top-width: 6px !important;
      
      }
    }

    
}*/

.svgTooltipWrapper {
  display: inline-block;
  /*transform: translate3d(0,0,0);*/
  /*backface-visibility: hidden;*/
  :global {
    .__react_component_tooltip {
      font-size: 12px;
      padding: 5px;
      background-color: SECONDARY_DARK_COLOR!important;
      color: white!important;
      border-radius: 0!important;
      &:before {
        display: none;
      }
    }
    .place-top {
      &:after {
        border-top-color: SECONDARY_DARK_COLOR!important;
        border-top-width: 8px!important;
      }
    }

    .place-bottom {
      &:after {
        border-bottom-color: SECONDARY_DARK_COLOR!important;
        border-bottom-width: 8px!important;
      }
    }

    .place-right {
      &:after {
        border-right-color: SECONDARY_DARK_COLOR!important;
        border-right-width: 8px!important;
      }
    }
    
    .place-left {
      &:after {
        border-left-color: SECONDARY_NORMAL_COLOR!important;
        border-left-width: 8px!important;
      }
    }
  }
}